body {
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100%;
    color: var(--color-800);
    font-size: 12px;
    line-height: 1.5;
}

@page {
    size: A4;
    padding-top: 100px;
    padding-right: 0mm;
    padding-left: 0mm;

    @top-center {
        content: element(header);
    }
    @bottom-left {
        content: element(footer);
    }
}

/* Header */
div.header {
    border:1px solid pink;
    padding: 10px;
    position: running(header);
    width: 100%;
    display: block;
}
.header-image {float:left;}
.header-image img{height:100px;margin-top: 5px;}

/* Footer */

div.footer {
    display: block;
    width:100%;
    padding: 5px;
    position: running(footer);
    padding-right: 0mm !important;
    padding-left: 0mm !important;
    margin: 0 5mm;
    
}
.pagenumber:before {
    content: counter(page);
}
.pagecount:before {
    content: counter(pages);
}

.invoice-footer-text{float: left;}
.invoice-footer-pagenumber{float: right;}

.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    font-size: 12px !important;
}

.hide-in-pdf {
    display: none;
}

tr { page-break-inside:avoid; page-break-after:auto; }

table td {
    padding: 10px 5px;
    vertical-align: top;
}

label {
    font-weight: 600;
}


.first-column { border-left: none; }



/*--- main info ---*/
.main-info {
    width:100%;
}

.main-info .column.left {
    width: 50%;
    margin-right: 25px;
} 

.column, .column-item-label, .column-item-desc {
    display: inline-block;
    vertical-align: top;
}

.fleft{
    float:left;
    page-break-inside: avoid;
}


.column-item {
    margin-bottom: 5px;
}

.column-item-label {
    margin-right: 15px;
    font-weight: bold;
}

.main-info .left .column-item-label {
    width: 70px;
}

.main-info .column-item-label {
    width: 130px;
}

.due-date{
    display: inline-block;
}


table.no-cell-borders {
    border-collapse: collapse;
    width:100%;
    margin: 20px auto;
}

table thead tr{
    background: var(--color-200);
}

table thead tr th{padding: 4px 10px;}

table.no-cell-borders td {
    border: none;
}

.cell-align-right {
    text-align: right;	

}
.cell-align-center {
    text-align: center;	
}

.quantity-cell {
    padding-left: 40px !important;
}

.balance-info-section {
    margin-bottom: 40px;
    width: 100%;
    margin:0 auto;
}


.balance-info-section .empty-block {
    width: 53.5%;
    display: inline-block;
}


.balance-info-section .column-item-label {
    width: 54%;
}

.balance-info-section .column-item-desc {
    text-align: right;
    width: 38.2%;
}

.additional-info {
    width:100%;
    margin:40px auto 0;
}

.additional-info .column-item-label {
    width: 175px;
}

.additional-info .column-item-desc {
    width: 373px;
}

.additional-info .column-item{
    margin-bottom: 15px;
}

