:root {

    /* COLOR variables */
    --color-white: #ffffff;
    --color-black: #000000;
    
    /* 
    Shown for reference. Change defaults in KTD_DocumentHelper.getDefaultColor();
    --color-100: #f3f6f6;
    --color-200: #dae0e4;
    --color-300: #646464;
    --color-400: #4d726d;
    --color-500: #385450;
    --color-600: #343434;
    --color-700: #3c3c3c;
    --color-800: #1d1d1d;  */
   
 
    /* ELEMENTS */

    --color-background: var(--color-white);
    --color-heading: var(--color-400);
    --color-text: var(--color-600);

    --color-heading-h1: var(--color-400);
    --color-heading-h2: var(--color-400);
    --color-heading-h3: var(--color-black);

    --color-link: var(--color-400);
    --color-link-hover: var(--color-500);
    --color-link-visited: var(--color-500);
   
    --color-button-primary: var(--color-400);
    --color-button-primary-text: var(--color-white);
    --color-button-primary-border:var(--color-400);
    --color-button-primary-hover: var(--color-white);
    --color-button-primary-hover-text: var(--color-400);

    --color-button-secondary: var(--color-white);
    --color-button-secondary-text: var(--color-400);
    --color-button-secondary-border:var(--color-400);
    --color-button-secondary-hover: var(--color-400);
    --color-button-secondary-hover-text: var(--color-white);

    --color-button-link: transparent;
    --color-button-link-text: var(--color-400);
    --color-button-link-border:transparent;
    --color-button-link-hover: var(--color-400);
    --color-button-link-hover-text: var(--color-white);
    --color-button-link-hover-border:var(--color-400);

    --color-table-background: transparent;
    --color-table-border: var(--color-200);
    --color-table-row-background: transparent;

    /* FONT Variables */
    --font-main: 'Open Sans', serif;
    --font-secondary: 'Merriweather', serif;
    --font-pre: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }


.hide-in-html {
  display: none;
}

html,
body,
.ns-bootstrap {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text);
}

h2, .ns-bootstrap h2 {
  font-family: var(--font-main);;
  font-weight: 300 !important;
  font-size: 32px !important;
  color: var(--color-heading) !important;
}

h3, .ns-bootstrap h3 {
  font-family: var(--font-main);
  font-weight: 600 !important;
  font-size: 16px !important;
  color: var(--color-text);
  text-transform: uppercase;
  letter-spacing: 2.56px;
}

p, .ns-bootstrap p {
  font-family: var(--font-main);
}

a,
p a,
p a:link,
a:hover,
p a:hover,
.ns-bootstrap a {
  color: var(--color-link);
}

.ns-bootstrap table.no-cell-borders {
    border-collapse: collapse;
    width:100%;
    margin: 20px auto;
}

.ns-bootstrap table thead tr{
    background: var(--color-table-row-background);
}

.ns-bootstrap thead tr th{padding: 4px 10px;}

.ns-bootstrap table.no-cell-borders td {
    border: none;
}

.cell-align-right {
    text-align: right;	

}
.cell-align-center {
    text-align: center;	
}

.quantity-cell {
    padding-left: 40px !important;
}


main#content {
  background-color: transparent;
  margin-top: 30px;  
}


@media (max-width: 600px) {
  ul.awards li {
      padding: 5px 2px !important;
  }
  .award-image {
      height: 60px !important;
  }

  .awards-content .cp-media .cp-image {
      display: block;
      margin: auto !important;
      height: 120px !important;
      padding: 10px !important;
  }

  /* comment modal - mobile view */
  .k-customer-comments-component .cc-modal-comment-photo {
      display: none;
  }
  .k-customer-comments-component .cc-modal-comment-author,
  .k-customer-comments-component .cc-modal-comment-body,
  .k-customer-comments-component .cc-modal-comment-actions {
      margin-left: 0px !important;
  }
  textarea#itinerary-new-comment,
  .k-customer-comments-component .cc-modal-comment-actions {
      width: 100% !important;
  }
}



.k-customer-comments-component .cc-modal {
  height: auto !important;
}

.k-customer-comments-component .cc-modal-comment-author>input {
  border: none;
  width: 90%;
}


@media (max-width: 991px) {
  .agent-info-container {
      float: left;
      margin-top: 20px;
  }
  .agent-photo {
      left: 15px;
  }
  .agent-info {
      position: absolute;
      left: 85px;
      text-align: left !important;
  }
  .itinerary-info {
      top: 75px !important;
  }
  header {
      height: 480px !important;
  }
  .itinerary-name {
      font-size: 32px !important;
  }
  .summary-box-container {
      float: none !important;
      padding: 0 !important;
  }
  nav ul li.active:after {
      content: none !important;
  }

  ul.social>li>a {
      width: 38px !important;
      height: 38px !important;
      font-size: 21px !important;
  }
  ul.footer-links li {
      display: block !important;
      border-right: none !important;
  }
  
  .at-content-container {
      display: -webkit-box;
      display: -moz-box;
      display: box;

      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
  }
  div.summary-box-container {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
  }
  div.sidebar-container {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
  }

  main#content {
      -webkit-box-ordinal-group: 3;
      -moz-box-ordinal-group: 3;
      box-ordinal-group: 3;
  }
  .sticky {
      position: relative !important;
  }

  .k-customer-comments-component .cc-modal {
      left: 0 !important;
      max-width: 100% !important;
  }

  .cc-modal {
      margin-left: 0 !important;
  }

  /*kt agenda*/
  .at-agenda-listview-image-cover {
      height: 240px !important;
  }
}

@media (min-width: 992px) {


    .ns-bootstrap .container{
        position: relative;
        z-index: 1000;
    }
    
  .summary-box-container {
      float: right !important;
  }
  .modal-dialog {
      width: 800px;
  }}

/*===================================*/

/*=== BUTTONS ===*/

button,
.output-resources-ns button.mt,
a.button,
.cc-modal-comment-actions button.btn {
  padding: 14px 35px;
  border: none;
  background-image: none;
  border-radius: 3px;
  text-transform: none;
  font-weight: normal;
  height: auto;
  line-height: unset;
  font-size: 16px;
}

a.button,
.output-resources-ns button,
.output-resources-ns button.mt.default,
.cc-modal-comment-actions button.btn.btn-primary{
    border: 1px solid var(--color-button-primary-border);
    background-color: var(--color-button-primary);
    color: var(--color-button-primary-text);
}

a.button:hover,
.output-resources-ns button:hover,
.output-resources-ns button.mt.default:hover,
.cc-modal-comment-actions button.btn.btn-primary:hover{    
    background-color: var(--color-button-primary-hover);
    color: var(--color-button-primary-hover-text);
}

a.button:focus,
.output-resources-ns button:focus,
.output-resources-ns button.mt.default:focus,
.cc-modal-comment-actions button.btn.btn-primary:focus{
    outline: var(--color-button-primary-border);
    
}

.output-resources-ns button.mt.secondary{
    border: 1px solid var(--color-button-secondary-border);
    background-color: var(--color-button-secondary);
    color: var(--color-button-secondary-text); 
}

.output-resources-ns button.mt.secondary:hover{
    background-color: var(--color-button-secondary-hover);
    color: var(--color-button-secondary-hover-text);     
}

.output-resources-ns button.mt.secondary:focus{
    outline: var(--color-button-secondary-border);
    outline-style: auto;
}

.output-resources-ns button.mt.link{
    border:1px solid transparent;
    background-color: transparent;
    color: var(--color-button-link-text); 
    font-weight: bold;
}

.output-resources-ns button.mt.link:hover{
    border:1px solid var(--color-black);
    color: var(--color-button-link-hover);    
    border-color: var(--color-button-link-hover-border);
    background:none;
}

.output-resources-ns button.mt {
  margin-top: 20px !important;
}

.actions-status{
    text-align: center;
}

a.button {
  display: block;
  text-align: center;
  cursor: pointer;
  ;
}

/*===================================*/

/*=== HEADER styles ===*/

header {
  height: 450px;
  color: var(--color-white);
  background-color: var(--color-400);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header-container {
  width: 100%;
  height: 100%;
  padding-top: 35px;
}


.agent-info-container {
  float: right;
}

.agent-info {
  text-align: right;
  position: absolute;
  right: 100px;
}

.agent-info p {
  margin: 0;
}

.agent-name {
  text-transform: uppercase;
  font-weight: 600 !important;
  letter-spacing: 2.56px;
}

.agent-photo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-size: cover;
  position: absolute;
  right: 30px;
}

.itinerary-info {
  position: relative;
  top: 90px;
}

.itinerary-name {
  font-style: italic;
  font-family: var(--font-secondary);
}

.itinerary-date {
  text-transform: uppercase;
  letter-spacing: 2.56px;
  font-weight: 400;
}


/*== Navigation Header styles ==*/

.nav-Horizontal header{z-index: 888;}

.nav-Horizontal .header-container {
  padding:0;
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
}

.nav-Horizontal .logo{
  opacity: 0;
  display: none;
}

.nav-Horizontal header .container .itinerary-info{
  top:250px !important;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
  
}

.nav-Horizontal .menu-container{
    position: fixed;
    top: 0;
    z-index: 1001;
    width:100%;
    background: var(--color-400);
    height:70px;
  }

.nav-Horizontal .menu-logo{
    /* position: relative; */
    width: 100%;
    text-align: center;
    padding: 10px 0;
}


.nav-Horizontal .nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-Horizontal .nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-Horizontal .nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-Horizontal .nav-toggle-label span,
.nav-Horizontal .nav-toggle-label span::before,
.nav-Horizontal .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-Horizontal .nav-toggle-label span::before,
.nav-Horizontal .nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-Horizontal .nav-toggle-label span::before {
  bottom: 7px;
}

.nav-Horizontal .nav-toggle-label span::after {
  top: 7px;
}

.nav-Horizontal nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  -webkit-transform: scale(1,0);
  -moz-transform:  scale(1,0);
  -ms-transform:  scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  -webkit-transition: transform 400ms ease-in-out;
  -ms-transition: transform 400ms ease-in-out;
  -moz-transition: transform 400ms ease-in-out;
  z-index: 999;
}

.nav-Horizontal nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-Horizontal nav li {
  margin:0;
}

.nav-Horizontal nav a {
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-Horizontal nav a:hover {
  color: var(--color-black);
}

.nav-Horizontal .nav-toggle:checked ~ nav {
  transform: scale(1,1);
  -webkit-transform: scale(1,1);
  -moz-transform:  scale(1,1);
  -ms-transform:  scale(1,1);
}

.nav-Horizontal .nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

aside.sidebar{
    position: relative; 
 
}

@media screen and (max-width:800px) {
  .nav-Horizontal .logo img{
    height:60px;
    width:auto;
  }
}

@media screen and (min-width: 800px) {
    aside.sidebar{
        position: sticky;
        top: 50px;
    }

  .nav-Horizontal .nav-toggle-label {
    display: none;
  }

  
  .nav-Horizontal header {
    position: relative;
    z-index:1000;
  }


  .nav-Horizontal .header-container {
    height: 450px;
    position: relative;
  }

  .nav-Horizontal .logo {
    padding: 20px 0 0;
    max-width: 1170px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    display: block;
    opacity: 1;
       
  }

  .nav-Horizontal .logo.fixed img{
    max-height: 40px;
    width: auto;    
  }


  .nav-Horizontal header .container {
    max-width: 1170px;
    width: 100%;
    text-align: left;
    padding:0;        
  }

  .nav-Horizontal header .container .itinerary-info{
    top:75px !important;    
  }

  .nav-Horizontal .menu-container{
    position: sticky;
    top: 0;
    z-index: 1001;
    width:auto;
    background: transparent;
    height:auto;

  }

  .nav-Horizontal .menu-logo{
    opacity: 0;  
    position: fixed;
    top: 0px;
    left: 50px;
    z-index: 1000;
    width: auto;
    text-align: left;
    padding: 0;
    margin-top:3px;
    
}
  .menu-logo.visible{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  .nav-Horizontal nav {
    transition: none;
    transform: scale(1,1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    box-shadow: 0 0px 4px rgb(0 0 0 / 30%);
    top: 100%;
    background: var(--color-400);
    position: sticky;
    top:0;
  }
  
  .nav-Horizontal nav ul {
    display: flex;
  }
  
  .nav-Horizontal nav li {
    margin-left: 1em;
    margin-bottom: 0;
    border-bottom: none;
    display: flex;
    align-items: center;
  }

  .nav-Horizontal nav li:hover{
    background:var(--color-200);
  }
  
  .nav-Horizontal nav li a:link,
  .nav-Horizontal nav li a:active,
  .nav-Horizontal nav li a:visited {
    opacity: 1;
    position: relative;
    color:var(--color-white) !important;
  }

  .nav-Horizontal nav li.active a:link,
  .nav-Horizontal nav li.active a:active,
  .nav-Horizontal nav li.active a:visited,
  .nav-Horizontal nav li:hover a {
    color: var(--color-600) !important;
  }
}

/*=== SIDEBAR ===*/



/*=== NAVIGATION SIDEBAR styles ===*/

nav {
  margin: 30px 0 20px;
  background-color: var(--color-100);
}

nav ul {
  padding: 0;
  margin: 0 !important;
}

nav ul li {
  /*padding: 15px 20px;*/
  margin: 0;
  border-bottom: 2px solid var(--color-200);
  list-style: none;
}

nav ul li a {
  padding: 15px 20px;
  display: block;
  font-weight: 400;
}

nav ul li a:link,
nav ul li a:active,
nav ul li a:visited {
  text-decoration: none !important;
  color: var(--color-600) !important;
}

nav ul li a:hover {
  color: var(--color-400) !important;
}

nav ul li.active a:hover {
  color: var(--color-600) !important;
}

nav ul li:last-child {
  border-bottom: none;
}

nav ul li.active {
  background-color: var(--color-200);
  position: relative;
}

nav ul li.active a {
  font-weight: 600 !important;
}

nav ul li.active:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: var(--color-200);
  border-width: 12px;
  margin-top: -10px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: inherit;
}

.sticky {
  position: sticky;
  top: 0;
}

.transparent{
    opacity: 0;
}


/*===================================*/

/*=== FOOTER styles ===*/

footer {
  color: var(--color-white);
  padding: 10px 20px 40px;
  background-color: var(--color-700);
  text-align: center;
  margin-top: 50px;
  position: relative;
  z-index: 0;
}

footer a {
  color: var(--color-white) !important;
  text-transform: uppercase;
  font-weight: 400;
}


/*=== Social ===*/

ul.social {
  margin: auto;
  padding: 20px 0px;
  border-bottom: 1px solid var(--color-300);
}

ul.social li {
  display: inline-block;
  padding: 3px 5px;
  margin: 0;
}

ul.social>li>a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 26px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

ul.social>li>a::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 45px; 
    height: 45px;
    border-radius: 50%;  
    opacity: 0.3; 
    background: var(--color-white);
  }

  ul.social>li>a:hover::before{
    background: var(--color-600);
  }


/*=== Footer Links ===*/

ul.footer-links {
  margin: auto;
  padding: 20px 0px 25px;
}

ul.footer-links li {
  display: inline-block;
  padding: 3px 20px;
  border-right: 1px solid var(--color-300);
  margin: 0;
}

ul.footer-links li:last-child {
  border-right: none;
}

/*=== Copyright ===*/

.copyright {
  font-size: 12px;
  text-align: center;
  color: var(--color-200);
}

/*===================================*/

/*=== COMMENTS styles ===*/

.cc-modal-header {
  color: var(--color-400);
}

.output-resources-ns .customer-actions-modal-close,
.k-customer-comments-component .cc-modal-close {
  color: var(--color-600) !important;
  font-size: 30px;
  transform: scale(1.4, 1.0);
  font-weight: 300;
  top: 10px !important;
  right: 20px !important;
}

.k-customer-comments-component .cc-modal-comment-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  /*border: 1px solid;*/
}

.cc-modal-comment-body pre {
  padding: 15px !important;
  background-color: var(--color-100) !important;
  position: relative;
  overflow: unset !important;
}

.cc-modal-comment-body pre:empty {
  display: none;
}

.cc-modal-comment-body pre:after {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: var(--color-100);
  border-left: 0;
  margin-left: -10px;
}

.k-customer-comments-component .cc-modal-new-comment {
  border-top: none !important;
  margin-top: 50px !important;
}

.cc-modal-new-comment .cc-modal-comment-body {
  position: relative;
}

.cc-modal-new-comment .cc-modal-comment-body:before {
  content: 'Message';
  background-color: var(--color-white);
  padding: 0 10px;
  position: absolute;
  font-size: 12px;
  left: 0;
  top: 0;
  margin-top: 5px;
  margin-left: 10px;
}

textarea#itinerary-new-comment {
  outline: none;
  resize: vertical;
  margin-top: 15px;
  border: 2px solid var(--color-200);
}



.ns-bootstrap td {
  padding: 5px;
}

/*===================================*/

/*=== SUMMARY BOX styles ===*/

.summary-box {
  padding: 20px 20px 0px;
  background-color: var(--color-white);
  min-height: 250px;
}

.nav-Vertical .summary-box-container{
    
    margin-top:-250px;
}

body.nav-Horizontal .summary-box{
  margin: 30px 0;
}


.summary-box a.button {
  margin-top: 15px;
}

.summary-box>p {
  font-size: 18px;
  margin: 0;
}

.summary-box>p:last-child {
  margin-bottom: 20px !important;
}

.summary-box p span {
  float: right;
  font-weight: 600;
}

.summary-box p.total {
  margin-bottom: 20px;
}

.summary-box span.total {
  color: var(--color-400);
}

#ractive-customer-actions-container button {
  width: 100% !important;
}

.kt-tab-custom h2 {
  margin: 0 0 30px 0;
}

.tab-pane>.kt-heading>h2 {
  margin: 0 0 30px 0;
}

/*===================================*/

/*=== LETTER MODAL styles ===*/

.modal-content {
  border-radius: 0;
  padding: 30px;
}

.close-modal-container {
  width: 100%;
  text-align: right;
}

.close-modal-container .close {
  float: none;
  transform: scale(1.6, 1.0);
  font-weight: 300;
  font-size: 22px;
  color: var(--color-600);
  opacity: 1;
}

.letter-body {
  margin-bottom: 40px;
}

.letter-body p.appeal {
  margin-bottom: 20px;
  font-weight: 600;
}

.letter-signature img {
  max-width: 200px;
}

.letter-signature p.name {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2.56px;
  margin: 0;
}

/*===================================*/

/*=== PRICING CONTACT INFO styles ===*/

div#pricing-contact-info {
  display: none;
}


.pricing-agent-card{
  width:100%;
}

.pricing-agent-card .pricing-ci-photo{
  float:right;
}

.pricing-agent-card .pricing-ci-agent{
  margin-bottom:10px;
}

.pricing-agent-card a{
  margin: 0 0 0 10px;
  display: flex;
}

.pricing-agent-card svg{
  fill: var(--color-link);
  margin-top: 3px;
}

.pricing-agent-card > div{
  display: flex;
}
.pricing-ci-email {
  color: var(--color-400);
  display: flex;
  padding: 9px 5px 9px;
  line-break:anywhere;
}


/*===================================*/

/*=== ITINERARY COMPONENT styles ===*/

/*-- Title --*/

h2.itinerary-title {
  margin: 0;
}

/*-- Tabs --*/

.itinerary-tabs-container {
  text-align: right;
}

ul.itinerary-tabs {
  list-style: none;
  display: inline-flex;
  float: right;
}

ul.itinerary-tabs li>a {
  background-color: var(--color-100);
  display: table-cell;
  vertical-align: middle;
  min-width: 150px;
  text-align: center;
  cursor: pointer;
  height: 50px;
}

ul.itinerary-tabs li>a:hover,
ul.itinerary-tabs li>a:link,
ul.itinerary-tabs li>a:active,
ul.itinerary-tabs li>a:visited {
  color: var(--color-600);
  text-decoration: none !important;
}

ul.itinerary-tabs li.active>a {
  background-color: #D6DDDC;
  font-weight: 600;
}

ul.itinerary-tabs>li>a>img {
  margin-right: 5px;
}

/*-- Content --*/

.day-to-day {
  margin-top: 20px;
}

.day-to-today-content p {
  margin: 0;
}

.bold-label {
  font-weight: 600;
}

/*-- Day Number --*/

.day-number {
  margin-right: 15px
}

.day-number>span {
  background-color: var(--color-400);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 11px;
  display: block;
  color: var(--color-white);
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.day-number>span>span {
  font-size: 11px;
}

/*-- Short Info --*/

.short-info-container {
  display: inline-flex;
  width: 100%;
}

.short-info {
  width: 100%
}

.short-info .row {
  margin-bottom: 10px;
}

.short-info>span {
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2.56px;
}

.day-to-day .location-short-info {
  text-transform: uppercase;
  color: var(--color-400);
  font-weight: 600;
}

/*-- Day Items List --*/

ul.day-to-day-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

ul.day-to-day-list>li {
  background-color: #F4F7F7;
  padding: 25px 20px 20px;
  /*padding: 0;*/
  border-bottom: 2px solid var(--color-200);
}

ul.day-items-list {
  list-style: none;
  padding: 0;
}

ul.day-items-list>li {
  margin-bottom: 5px;
}


/*-- Detailed Info --*/

.detailed-info-container {
  margin-top: 20px;
}

.detailed-info {
  padding: 25px 20px;
  background-color: var(--color-white);
  margin-bottom: 20px;
}

.detailed-info .image-wrapper {
  margin: 0px 20px 10px 0px;
}

.detailed-info>.row {
  margin: 0;
}

.detailed-info h3 {
  margin: 5px 0px 5px 10px;
}

/*-- Item Notes --*/

.agent-notes {
  background-color: var(--color-400);
  padding: 20px;
  color: var(--color-white);
  font-style: italic;
  margin: 20px 0px 25px 0px;
  display: flex;
}

.agent-notes img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.kt-content-note {
  background-color: var(--color-400);
  padding: 20px 20px 20px 85px;
  color: var(--color-white);
  font-style: italic;
  margin-bottom: 20px !important;
  vertical-align: top;
  position: relative;
  min-height: 90px;
  width: 100%;
}

.dtd-item-description {
  margin: 10px 0px 5px 0px;
}

.accommodation.dtd-item-description {
  height: 25px;
  overflow: hidden;
}

.dtd-item-description p {
  display: none;
}

.dtd-item-description p:first-child {
  display: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.accommodation.dtd-item-description p:first-child {
  -webkit-line-clamp: 1;
}

.non-accommodation.with-subtitle.dtd-item-description p:first-child {
  -webkit-line-clamp: 2;
}

.non-accommodation.dtd-item-description p:first-child {
  -webkit-line-clamp: 3;
}

.location.dtd-item-description p:first-child {
  -webkit-line-clamp: 4;
}

.dtd-flight-info {
  margin-top: 15px;
}

.dtd-flight-info p {
  margin-bottom: 5px !important;
}

a.read-more:link,
a.read-more:hover {
  color: var(--color-400);
}

.map-container {
  position: relative;
  min-width: 100%;
  min-height: 700px;
  margin-top: 20px;
}

.maps {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/*===================================*/

/*=== PLACES COMPONENT styles ===*/

h2.section-title {
  margin: 0 0 30px 0;
}

.destination-item-container {
  padding: 30px 20px;
  background-color: #EDF0F2;
  margin-bottom: 30px;
}

.destination-item-container h3 {
  margin: 0px 0px 20px 0px;
  color: var(--color-400);
}

.output-resources-ns .destination-item-container.content-placeholder-block .cp-media {
  float: none !important;
  max-width: initial !important;
  margin-right: 0 !important;
}

.destination-item-container .output-resources-ns .content-placeholder-block .cp-image {
  display: initial !important;
}

.cp-image {
  padding: 3px !important;
}

.cp-media.row {
  margin: 25px 0 0 0 !important;
}


.cp-image>img {
  width: 100%;
}

/*===================================*/

/*=== Accommodation ===*/

.item-container {
  margin-bottom: 30px;
  padding: 25px 20px;
  background-color: #EDF0F2;
}

.item-title {
  line-height: 22px;
  text-align: left;
  font-family: var(--font-main);;
  font-weight: 600 !important;
  font-size: 16px !important;
  letter-spacing: 2.56px;
  color: var(--color-400);
  text-transform: uppercase;
}

.item-content {
  line-height: 25px;
  margin: 20px 0px;
}

.item-content-images {
  display: grid;
  grid-template-columns: 230px 230px 230px;
  grid-gap: 5px;
  margin-top: 30px;
}

.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;  
}



.modal-table {
  margin-top: 20px;
}

.modal-table td {
  padding: 15px;
}

.modal-table tr:nth-child(odd) {
  background: #D6DDDC 0% 0% no-repeat padding-box;
}

.modal-table tr:nth-child(even) {
  background: var(--color-100) 0% 0% no-repeat padding-box;
}

.modal-close {
  position: absolute;
  width: 23px;
  height: 23px;
  opacity: 1;
  text-decoration: none !important;
}

.modal-close:before,
.modal-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 23px;
  width: 2px;
  background-color: var(--color-600);
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}


.modal-grid-container {
  display: grid;
  grid-template-columns: auto 30px;
}

.modal-grid-item {
  text-align: left;
}

/*===================================*/

/*=== Specialist ===*/

.user-info {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  float: none !important;
}

.user-info-circle img {
  width: 95px;
  height: 95px;
  border-radius: 50% !important;  
}

.user-info-name {
  line-height: 25px;
  text-align: left;
  font-family: var(--font-main);;
  font-weight: 600 !important;
  font-size: 16px !important;
  letter-spacing: 2.56px;
  text-transform: uppercase;
}

.user-title {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.user-contact {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: var(--color-400);
  font-size: 16px;
}

.user-contact img {
  margin-right: 15px;
}

.user-message {
  position: absolute;
  right: 80px;
  color: var(--color-white)FFF;
  background: var(--color-600) 0% 0% no-repeat padding-box;
  margin-top: 20px;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
}

.output-resources-ns .user-info {
  margin: 0;
}

.about-your-trip-content {
  padding: 20px 0px;
  margin-bottom: 25px;
}

/*===================================*/

/*=== Flights ===*/

.flights-content .item-title {
  margin-bottom: 28px;
}

.flight-space {
  margin-top: 15px;
}

.flight-info {
  display: flex;
  margin: 0px 0px 15px 0px;
}

.flight-deadline-label {
  margin-right: 10px;
}

.flight-deadline-value {
  font-weight: 600;
}

.flight-passengers-list {
  padding: 10px 0px 25px 0px;
  font-weight: 600;
}

.flights-content p {
  margin: 0px 0px 15px 0px;
}

/*===================================*/

/*=== Pricing ===*/

.price-container {
  background-color: var(--color-100);
  padding: 25px 20px 30px;
  color: #767676;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 65% 35%;
  margin-bottom: 25px;
}

.grid-container.breakdownlist {
  margin-bottom: 0;
}

.grid-item {
  text-align: left;
}

.price-per-person-label {
  margin-bottom: 25px;
  margin-top: 2px;
}

.price-value {
  color: var(--color-400);
  font-weight: 700;
  padding: 0;
  font-size: 16px;
  margin: 5px 0 0;
}

.price-label {
  margin: 5px 25px 0 0;
  font-weight: 400;
}

.price-block {
  margin-top: 25px;
}

.price-notes {
  font-size: 12px;
}

/*===================================*/

/*=== Charity ===*/

.charity-text-container {
  padding: 40px 35px;
  display: flex;
  flex-direction: column;

}

.charity-item-text {
  width: 360px;
  text-align: left;
  margin-top: 25px;
}

.charity-button {
  background-color: var(--color-white);
  width: 170px;
  height: 50px;
  margin-top: 25px;
  display: table;
  cursor: pointer;
}

.charity-text-color {
  color: var(--color-white);
}

.charity-button-text {
  color: var(--color-600);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.charity-modal-spacing {
  margin-top: 25px;
}

h2.charity-title {
  margin: 0;
}

div#insext {
  display: none;
}

.soa-button {
  margin-top: 20px;
}

.banner-image {
  margin-bottom: 40px;
  margin-top: 20px;
}

.output-resources-ns .block-preview {
  margin-bottom: 20px;
}
.output-resources-ns .block-preview img {
  max-width: 100%;
}
.output-resources-ns .contentOutput.ns-bootstrap {
  background-color: transparent;
}
.output-resources-ns .item-block-container .item-content-html {
  margin-top: 20px;
}
.output-resources-ns .item-block-container .video-images-gallery {
  margin: 20px 0 10px 0;
}
.output-resources-ns .item-block-container .video-images-gallery div {
  display: inline-block;
  margin: 0 10px 10px 0;
}
.output-resources-ns .item-block-wrapper,
.output-resources-ns .item-block-wrapper .item-content-html {
  position: relative;
  min-height: 80px;
}
.output-resources-ns .item-block-wrapper .item-block-title {
  display: inline-block;
}
.output-resources-ns .item-block-wrapper .item-block-subtitle {
  display: inline-block;
  margin-left: 15px;
}
.output-resources-ns .item-block-wrapper .item-block-actions {
  margin: 15px 0;
}
.output-resources-ns .item-block-wrapper .item-location {
  position: absolute;
  right: 0;
  top: 20px;
}
.output-resources-ns .item-block-wrapper .item-location a:hover {
  text-decoration: none;
}
.output-resources-ns .item-block-wrapper .item-block-action-more,
.output-resources-ns .item-block-wrapper .agenda-content-block-action-more {
  display: none !important;
}
.output-resources-ns .item-block-wrapper .item-block-action-less,
.output-resources-ns .item-block-wrapper .agenda-content-block-action-less {
  display: none !important;
}
.output-resources-ns .item-block-wrapper .item-block-booking-summary {
  width: 185px;
  position: absolute;
  top: 0px;
  right: -200px;
  font-size: 12px;
}
.output-resources-ns .item-block-wrapper .item-block-booking-summary .panel-body {
  font-size: 12px;
}
.output-resources-ns .item-block-wrapper {
  clear: both;
}
.output-resources-ns .item-block-wrapper .item-content-html-full,
.output-resources-ns .item-block-wrapper .item-content-html-truncated {
  display: none;
}
/* Item Block SMALL */

.output-resources-ns .item-block-wrapper.item-block-small .featured-image {
  float: left;
  margin: 0 20px 10px 0;
  max-width: 160px;
  max-height: 120px;
}
.output-resources-ns .item-block-wrapper.item-block-small .featured-image img {
  max-width: 160px;
  max-height: 120px;
}
.output-resources-ns .item-block-wrapper.item-block-small .video-images-gallery {
  display: none;
}
.output-resources-ns .item-block-wrapper.item-block-small .item-block-action-more {
  display: inline !important;
}
.output-resources-ns .item-block-wrapper.item-block-small.item-block-with-booking-summary .item-content-html {
  margin-right: 200px;
}
.output-resources-ns .item-block-wrapper.item-block-small .item-content-html-truncated {
  display: block;
}
/* Item Block LARGE*/

.output-resources-ns .item-block-wrapper.item-block-large .item-block-action-less {
  display: inline !important;
}
.output-resources-ns .item-block-wrapper.item-block-large .featured-image img {
  max-height: 400px;
}
.output-resources-ns .item-block-wrapper.item-block-large.item-block-with-booking-summary .item-content-html {
  margin-right: 200px;
}
.output-resources-ns .item-block-wrapper.item-block-large .item-content-html-full {
  display: block;
}
.output-resources-ns .item-block-wrapper.item-block-large .item-content-html-full .kt-content-note{
  margin-bottom: 10px;
}
/* ==============content placeholder ==============*/
.output-resources-ns .block-output.kt-content-placeholder-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.output-resources-ns .content-placeholder-block .cp-article-details-item {
  word-break: break-word;
}
.output-resources-ns .content-placeholder-block .cp-media {
  float: left;
  max-width: 300px;
  margin-right: 10px;
  cursor: pointer;
}
.output-resources-ns .content-placeholder-block .cp-article-header {
  padding-bottom: 5px;
}
.output-resources-ns .content-placeholder-block .cp-article-header-title {
  font-size: 18px;
}
.output-resources-ns .content-placeholder-block .cp-article-header-title h2 {
  margin-bottom: 0;
}
.output-resources-ns .content-placeholder-block .cp-article-header-subtitle {
  padding-bottom: 2px;
  line-height: 1;
  font-size: 16px;
  color: #808080;
}

.output-resources-ns .content-placeholder-block .cp-image {
  display: inline-block;
}
.output-resources-ns .content-placeholder-block .cp-image.cp-image-small img{
  border: 1px solid var(--color-white);
  border-radius: 2px;
}
.output-resources-ns .content-placeholder-block .cp-image.cp-image-featured img{
  margin-bottom: 2px;
}

.output-resources-ns .content-placeholder-block .cp-article-body .kt-content-note {
  margin-bottom: 10px;
}

.output-resources-ns .kt-content-editable {
  padding: 6px 8px;
  font-size: 14px;
  min-height: 80px;
  height: auto;
}
.output-resources-ns .kt-content-input {
  border: 1px solid #cccccc !important;
}
.output-resources-ns .kt-content-input:focus {
  border-color: #66afe9 !important;
}

@media only screen and (max-width: 768px) {
  .output-resources-ns .content-placeholder-block .cp-media {
    float: initial;
  }
}
/* ==============content placeholder end ==============*/
.output-resources-ns .statement-table-container td:last-child {
  width: 100px;
}
.output-resources-ns .statement-table-container {
  margin: 30px 0;
}
.output-resources-ns .block-output {
  clear: both;
  margin-bottom: 20px;
}
.output-resources-ns .block-output.kt-image {
  text-align: center;
}
.output-resources-ns .kt-image img {
  margin: 10px;
}
.output-resources-ns .cc-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0.3;
  z-index: 9990;
}
.output-resources-ns .cc-modal {
  position: fixed;
  width: 800px;
  top: 150px;
  left: 50%;
  margin-left: -400px;
  background-color: var(--color-white);
  text-align: left;
  color: var(--color-black);
  text-shadow: none;
  padding: 30px;
  z-index: 9991;
  border: 1px solid #c0c0c0;
}
.output-resources-ns .cc-modal-header {
  font-size: 24px;
  padding-bottom: 15px;
}
.output-resources-ns .cc-modal-close {
  display: block;
  position: absolute;
  top: 9px;
  right: 13px;
  color: #00f;
  text-decoration: none;
}
.output-resources-ns .cc-modal-close:hover {
  text-decoration: none;
  color: #00f;
  text-decoration: none;
}
.output-resources-ns .cc-modal-body {
  min-height: 250px;
  max-height: 450px;
  overflow-y: auto;
}
.output-resources-ns .cc-modal-ajax-in-progress-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0.5;
}
.output-resources-ns .cc-modal-ajax-in-progress {
  position: absolute;
  top: 110px;
  left: 50%;
  margin-left: -50px;
}
.output-resources-ns .cc-modal-comment,
.output-resources-ns .cc-modal-new-comment {
  position: relative;
  margin-top: 20px;
}
.output-resources-ns .cc-modal-new-comment {
  border-top: 1px dashed #ccc;
}
.output-resources-ns .cc-modal-comment-photo {
  position: absolute;
  left: 25px;
  top: 3px;
}
.output-resources-ns .cc-modal-comment-photo img {
  width: 50px;
}
.output-resources-ns .cc-modal-comment-body,
.output-resources-ns .cc-modal-comment-author,
.output-resources-ns .cc-modal-comment-actions {
  margin-left: 100px;
}
.output-resources-ns .cc-modal-comment-author {
  margin-bottom: 5px;
}
.output-resources-ns .cc-modal-comment-body {
  min-height: 30px;
}
.output-resources-ns .cc-modal-comment-body pre {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: var(--font-pre);
  overflow: hidden;
  width: 90%;
}
.output-resources-ns .cc-modal-comment-actions {
  width: 78%;
  text-align: right;
  margin-top: 10px;
}
.output-resources-ns .cc-modal-comment-status {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 2px 6px;
  color: var(--color-white);
}

.output-resources-ns .cc-modal-error,
.ns-bootstrap .k-customer-comments-component .cc-modal-error {
  padding: .75rem 1.25rem;
  margin-bottom: 10px;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: .25rem;
}
.output-resources-ns .cc-modal-comment-created {
  color: #808080;
  font-size: 12px;
}
.output-resources-ns .cc-modal-comment-created .cc-modal-comment-created-absolute {
  display: none;
}
.output-resources-ns .cc-modal-comment-created .cc-modal-comment-created-from-now {
  display: inline;
}
.output-resources-ns .cc-modal-comment-created:hover .cc-modal-comment-created-absolute {
  display: inline;
}
.output-resources-ns .cc-modal-comment-created:hover .cc-modal-comment-created-from-now {
  display: none;
}
.output-resources-ns .cc-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0.3;
  z-index: 9990;
}
.output-resources-ns .cc-modal {
  position: fixed;
  width: 800px;
  top: 150px;
  left: 50%;
  margin-left: -400px;
  background-color: var(--color-white);
  text-align: left;
  color: var(--color-black);
  text-shadow: none;
  padding: 30px;
  z-index: 9991;
  border: 1px solid #c0c0c0;
}
.output-resources-ns .cc-modal-header {
  font-size: 24px;
  padding-bottom: 15px;
}
.output-resources-ns .cc-modal-close {
  display: block;
  position: absolute;
  top: 9px;
  right: 13px;
  color: #00f;
  text-decoration: none;
}
.output-resources-ns .cc-modal-close:hover {
  text-decoration: none;
  color: #00f;
  text-decoration: none;
}
.output-resources-ns .cc-modal-body {
  min-height: 250px;
  max-height: 450px;
  overflow-y: auto;
}
.output-resources-ns .cc-modal-ajax-in-progress-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0.5;
}
.output-resources-ns .cc-modal-ajax-in-progress {
  position: absolute;
  top: 110px;
  left: 50%;
  margin-left: -50px;
}
.output-resources-ns .cc-modal-comment,
.output-resources-ns .cc-modal-new-comment {
  position: relative;
  margin-top: 20px;
}
.output-resources-ns .cc-modal-new-comment {
  border-top: 1px dashed #ccc;
}
.output-resources-ns .cc-modal-comment-photo {
  position: absolute;
  left: 25px;
  top: 3px;
}
.output-resources-ns .cc-modal-comment-photo img {
  width: 50px;
}
.output-resources-ns .cc-modal-comment-body,
.output-resources-ns .cc-modal-comment-author,
.output-resources-ns .cc-modal-comment-actions {
  margin-left: 100px;
}
.output-resources-ns .cc-modal-comment-author {
  margin-bottom: 5px;
}
.output-resources-ns .cc-modal-comment-body {
  min-height: 30px;
}
.output-resources-ns .cc-modal-comment-author > input {
  font-size: 1em;
}
.output-resources-ns .cc-modal-comment-body > textarea {
  font-size: 1em;
}
.output-resources-ns .cc-modal-comment-body pre {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: var(--font-pre);
  overflow: hidden;
  width: 90%;
}
.output-resources-ns .cc-modal-comment-actions {
  width: 78%;
  text-align: right;
  margin-top: 10px;
}
.output-resources-ns .cc-modal-comment-status {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 2px 6px;
  color: var(--color-white);
}
.output-resources-ns .cc-modal-error {
  padding: 3px 6px;
  background-color: #ff3636;
  color: var(--color-white);
  margin-bottom: 10px;
}
.output-resources-ns .cc-modal-comment-created {
  color: #808080;
  font-size: 12px;
}
.output-resources-ns .cc-modal-comment-customer-action {
  margin-left: 1px;
}
.output-resources-ns .customer-actions-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-background);
  opacity: 0.3;
  z-index: 99990;
}
.output-resources-ns .customer-actions-modal {
  position: fixed;
  width: 800px;
  top: 100px;
  left: 50%;
  margin-left: -400px;
  background-color: var(--color-background);
  text-align: left;
  color: var(--color-text);
  text-shadow: none;
  padding: 30px;
  z-index: 99991;
  border: 1px solid var(--color-200);
}
.output-resources-ns .customer-actions-modal-header {
  font-size: 24px;
  padding-bottom: 15px;
}
.output-resources-ns .customer-actions-modal-close {
  display: block;
  position: absolute;
  top: 9px;
  right: 13px;

  
}
/* .output-resources-ns .customer-actions-modal-close:hover {
  text-decoration: none;
  color: #00f;
  text-decoration: none;
} */
.output-resources-ns .customer-actions-modal-body {
  min-height: 250px;
  max-height: 400px;
  overflow-y: auto;
}
.output-resources-ns .customer-actions-modal-ajax-in-progress-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0.5;
}
.output-resources-ns .customer-actions-modal-ajax-in-progress {
  position: absolute;
  top: 110px;
  left: 50%;
  margin-left: -50px;
}
.output-resources-ns .customer-actions-comment {
  position: relative;
  margin-top: 20px;
}
.output-resources-ns .customer-actions-comment-photo {
  position: absolute;
  left: 25px;
  top: 3px;
}
.output-resources-ns .customer-actions-comment-photo img {
  width: 50px;
}
.output-resources-ns .customer-actions-comment-body,
.output-resources-ns .customer-actions-comment-author,
.output-resources-ns .customer-actions-comment-actions {
  margin-left: 100px;
}
.output-resources-ns .customer-actions-comment-author {
  margin-bottom: 5px;
}
.output-resources-ns .customer-actions-comment-author > input {
  font-size: 1em;
}
.output-resources-ns .customer-actions-comment-body > textarea {
  font-size: 1em;
}
.output-resources-ns .customer-actions-comment-body {
  min-height: 30px;
}
.output-resources-ns .customer-actions-comment-body pre {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: var(--font-pre);
  overflow: hidden;
  width: 90%;
  white-space: pre-line;
}
.output-resources-ns .customer-actions-comment-actions {
  text-align: right;
  margin-top: 10px;
}
.output-resources-ns .customer-actions-comment-status {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 2px 6px;
  color: var(--color-background);
}
.output-resources-ns .customer-actions-comment-status.cc-resolved {
  background-color: #50DA6C;
}
.output-resources-ns .customer-actions-comment-status.cc-pending {
  background-color: #FFBF35;
  cursor: pointer;
}
.output-resources-ns .customer-actions-modal-error {
  padding: 3px 6px;
  background-color: #ff3636;
  color: var(--color-white);
  margin-bottom: 10px;
}
.output-resources-ns .cc-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0.3;
  z-index: 99990;
}
.output-resources-ns .cc-modal {
  position: fixed;
  width: 800px;
  top: 100px;
  left: 50%;
  margin-left: -400px;
  background-color: var(--color-white);
  text-align: left;
  color: var(--color-black);
  text-shadow: none;
  padding: 30px;
  z-index: 99991;
  border: 1px solid #c0c0c0;
}
.output-resources-ns .cc-modal-header {
  font-size: 24px;
  padding-bottom: 15px;
}
.output-resources-ns .cc-modal-close {
  display: block;
  position: absolute;
  top: 9px;
  right: 13px;
  color: #00f;
  text-decoration: none;
}
.output-resources-ns .cc-modal-close:hover {
  text-decoration: none;
  color: #00f;
  text-decoration: none;
}
.output-resources-ns .cc-modal-body {
  min-height: 250px;
  max-height: 400px;
  overflow-y: auto;
}
.output-resources-ns .cc-modal-ajax-in-progress-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0.5;
}
.output-resources-ns .cc-modal-ajax-in-progress {
  position: absolute;
  top: 110px;
  left: 50%;
  margin-left: -50px;
}
.output-resources-ns .cc-modal-comment,
.output-resources-ns .cc-modal-new-comment {
  position: relative;
  margin-top: 20px;
}
.output-resources-ns .cc-modal-new-comment {
  border-top: 1px dashed #ccc;
}
.output-resources-ns .cc-modal-comment-photo {
  position: absolute;
  left: 25px;
  top: 3px;
}
.output-resources-ns .cc-modal-comment-photo img {
  width: 50px;
}
.output-resources-ns .cc-modal-comment-body,
.output-resources-ns .cc-modal-comment-author,
.output-resources-ns .cc-modal-comment-actions {
  margin-left: 100px;
}
.output-resources-ns .cc-modal-comment-author {
  margin-bottom: 5px;
}
.output-resources-ns .cc-modal-comment-body {
  min-height: 30px;
}
.output-resources-ns .cc-modal-comment-author > input {
  font-size: 1em;
}
.output-resources-ns .cc-modal-comment-body > textarea {
  font-size: 1em;
}
.output-resources-ns .cc-modal-comment-body pre {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: var(--font-pre);
  overflow: hidden;
  width: 90%;
  white-space: pre-line;
}
.output-resources-ns .cc-modal-comment-actions {
  text-align: right;
  margin-top: 10px;
}
.output-resources-ns .cc-modal-comment-status {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 2px 6px;
  color: var(--color-white);
}
.output-resources-ns .cc-modal-comment-status.cc-resolved span {
  background-color: #50DA6C;
}
.output-resources-ns .cc-modal-comment-status.cc-pending span {
  background-color: #FFBF35;
  cursor: pointer;
}
.output-resources-ns .cc-modal-error {
  padding: 3px 6px;
  background-color: #ff3636;
  color: var(--color-white);
  margin-bottom: 10px;
}
.output-resources-ns .cc-modal-comment-created {
  color: #808080;
  font-size: 12px;
}
.output-resources-ns .cc-modal-comment-customer-action {
  margin-left: 1px;
}
.output-resources-ns .cc-itinerary-item-notes-comment,
.output-resources-ns .cc-itinerary-item-notes-new-comment {
  position: relative;
  margin-top: 20px;
}
.output-resources-ns .cc-itinerary-item-notes-comment-body,
.output-resources-ns .cc-itinerary-item-notes-comment-author,
.output-resources-ns .cc-itinerary-item-notes-comment-actions {
  margin-left: 10%;
}
.output-resources-ns .cc-itinerary-item-notes-comment-body {
  min-height: 30px;
}
.output-resources-ns .cc-itinerary-item-notes-comment-body pre {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: var(--font-pre);
  overflow: hidden;
  width: 90%;
}
.output-resources-ns .cc-itinerary-item-notes-comment-actions {
  width: 81%;
  text-align: right;
  margin-top: 10px;
}
.output-resources-ns .cc-itinerary-item-notes-error {
  padding: 3px 6px;
  background-color: #ff3636;
  color: var(--color-white);
  margin-bottom: 10px;
}
.output-resources-ns .cc-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0.3;
  z-index: 9990;
}
.output-resources-ns .cc-modal {
  position: fixed;
  width: 800px;
  top: 150px;
  left: 50%;
  margin-left: -400px;
  background-color: var(--color-white);
  text-align: left;
  color: var(--color-black);
  text-shadow: none;
  padding: 30px;
  z-index: 9991;
  border: 1px solid #c0c0c0;
}
.output-resources-ns .cc-modal-header {
  font-size: 24px;
  padding-bottom: 15px;
}
.output-resources-ns .cc-modal-close {
  display: block;
  position: absolute;
  top: 9px;
  right: 13px;
  color: #00f;
  text-decoration: none;
}
.output-resources-ns .cc-modal-close:hover {
  text-decoration: none;
  color: #00f;
  text-decoration: none;
}
.output-resources-ns .cc-modal-body {
  min-height: 250px;
  max-height: 450px;
  overflow-y: auto;
}


.ns-bootstrap .k-customer-comments-component .cc-modal-comment-status {
    margin-right:57px;
    top:0;
}

.ns-bootstrap .k-customer-comments-component .cc-modal-comment-status.cc-pending span,
.ns-bootstrap .k-customer-comments-component .cc-modal-comment-status.cc-pending span.cc-pending-save{
    
    border-radius: .25rem;
    background: var(--color-button-primary);
    color: var(--color-button-primary-text);
    border: 1px solid var(--color-button-primary-border);
    font-size: 13px;
    display: inline-block;
}

.ns-bootstrap .k-customer-comments-component .cc-modal-comment-status.cc-pending span:hover,
.ns-bootstrap .k-customer-comments-component .cc-modal-comment-status.cc-pending span.cc-pending-save:hove{
    background: var(--color-button-primary-hover);
    color: var(--color-button-primary-hover-text);    
}

.ns-bootstrap .k-customer-comments-component .cc-modal-comment-status.cc-pending span.cc-pending-cancel{
    background: var(--color-button-secondary);
    color: var(--color-button-secondary-text);
}

.ns-bootstrap .k-customer-comments-component .cc-modal-comment-status.cc-pending span.cc-pending-cancel:hover{
    background: var(--color-button-secondary-hover);
    color: var(--color-button-secondary-hover-text);
}

.ns-bootstrap .k-customer-comments-component .cc-modal-comment-status.cc-resolved{
    background:var(--color-button-secondary);
    border:1px solid var(--color-200);
    color:var(--color-button-secondary-text);
    margin-right:57px;
    border-radius: .25rem;
    font-size:13px;
}

.output-resources-ns .cc-modal-ajax-in-progress-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0.5;
}
.output-resources-ns .cc-modal-ajax-in-progress {
  position: absolute;
  top: 110px;
  left: 50%;
  margin-left: -50px;
}
.output-resources-ns .contentOutput .block-tabs .nav li.active{
  background-color: inherit;
}
.output-resources-ns .contentOutput .block-tabs .nav li.active a,
.output-resources-ns .contentOutput .block-tabs .nav li.active a:focus{
  color: #555555;
  background-color: #F9F9F9;
}

@media (max-width: 800px) {
  .output-resources-ns .cc-modal,
  .output-resources-ns .customer-actions-modal {
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background-color: var(--color-white);
    text-align: left;
    color: var(--color-black);
    text-shadow: none;
    padding: 30px;
    border: 1px solid #c0c0c0;
  }
}
@media (max-width: 600px) {
  .output-resources-ns .item-block-wrapper .item-location {
    position: static;
  }
  .output-resources-ns .item-block-wrapper .item-block-booking-summary {
    margin-top: 20px;
    position: static;
  }
  .output-resources-ns .item-block-wrapper.item-block-small.item-block-with-booking-summary .item-content-html {
    margin-right: 0;
  }

  .ns-bootstrap .k-customer-comments-component .cc-modal-comment-status{
    margin-right: 35px;
}

}
.output-resources-ns .fancybox-nav {
  width: 8% !important;
}
.output-resources-ns .btn-default {
  text-shadow: none;
}



.select2.select2-container {width: auto !important;}

/****** GALLERY MANAGER CSS ******/
.image-manager-block {
  padding-top: 1rem;
}

.kt-agenda-content .kt-agenda-editview-sources-imglibrary,
.kt-agenda-content .kt-content-placeholder-editview-sources-imglibrary {
  vertical-align: top;
  margin-left: 30px;
}

.kt-agenda-editview-featured-image .kt-agenda-editview-sources-imglibrary,
.KTContentPlaceholder-box-view-code .kt-content-placeholder-editview-sources-imglibrary {
  margin-left: 0;
  margin-top: 5px;
}

.kt-agenda-content .btn-lightning,
.KTContentPlaceholder-box-view-code .btn-lightning {
  background-color: var(--color-button-secondary); 
  color: var(--color-button-secondary-text);
  border-color: var(--color-button-secondary-border);
  border-radius: 4px !important;
  padding: 6px 15px;
}

div.image-item div.kt-gallery-poster, .lg-thumb-item div.kt-gallery-poster, .kt-agenda-gallery-edit div.image-item.kt-video div.kt-gallery-poster,
div.image-item div.kt-gallery-poster, .lg-thumb-item div.kt-gallery-poster, .kt-content-placeholder-gallery-edit div.image-item.kt-video div.kt-gallery-poster{
  background-color: rgba(0,0,0,.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color .15s ease 0s;
  -o-transition: background-color .15s ease 0s;
  transition: background-color .15s ease 0s;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.kt-agenda-gallery-edit div.image-item div.kt-gallery-poster,
.kt-content-placeholder-gallery-edit div.image-item div.kt-gallery-poster {
  text-align: right;
  display: block;
}

.kt-agenda-gallery-edit div.image-item.kt-video div.kt-gallery-poster,
.kt-content-placeholder-gallery-edit div.image-item.kt-video div.kt-gallery-poster {
  align-items: center;
  -webkit-align-items: center;
}

.kt-agenda-gallery-edit > .kt-images-list,
.kt-content-placeholder-gallery-edit > .kt-images-list {
  margin-bottom: 0;
  align-items: center;
}

.kt-agenda-gallery-edit > .kt-images-list > .image-item,
.kt-content-placeholder-gallery-edit > .kt-images-list > .image-item {
  margin-bottom: 2px;
}

.kt-agenda-gallery-edit > .kt-images-list > .image-item.kt-featured > a > img,
.kt-content-placeholder-gallery-edit > .kt-images-list > .image-item.kt-featured > a > img{
  border-color: #a90707;
}

.kt-agenda-gallery-edit > .kt-images-list > .image-item .kt-gallery-poster,
.kt-content-placeholder-gallery-edit > .kt-images-list > .image-item .kt-gallery-poster{
  border-radius: 4px;
  overflow: hidden;
}

.kt-agenda-gallery-edit > .kt-images-list > .image-item .kt-gallery-poster img,
.kt-content-placeholder-gallery-edit > .kt-images-list > .image-item .kt-gallery-poster img{
  display:none;
  padding-top: 2px;
}

.kt-agenda-gallery-edit > .kt-images-list > .image-item:hover .kt-gallery-poster img,
.kt-content-placeholder-gallery-edit > .kt-images-list > .image-item:hover .kt-gallery-poster img{
  display: inline-block;
}

.kt-agenda-gallery-edit > .kt-images-list > .image-item > a > img,
.kt-content-placeholder-gallery-edit > .kt-images-list > .image-item > a > img{
  border: 2px solid var(--color-white);
  border-radius: 4px;
  overflow: hidden;
}

.column-item-label {
  float: left;
  margin-right: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.column-item-desc {
  margin-right: 15px;
  float: right;
  padding-bottom: 10px;
}


.balance-info-section .balance-info {
  display:grid;
}

.additional-info .column-item-label {
  float: left;
  margin-right: 15px;
  font-weight: bold;
  padding-top: 20px;
}

.additional-info .column-item-desc {
  margin-right: 15px;
  float: right;
  padding-top: 20px;
  padding-right: 45%;
}